In [1]:
import pandas as pd
import numpy as np
from copy import deepcopy
from tqdm import tqdm
from datetime import datetime

from catboost import CatBoostClassifier
from sklearn.metrics import roc_auc_score

In [2]:
import matplotlib as mpl
import matplotlib.pyplot as plt

In [3]:
train01 = pd.read_csv("train01.csv", sep=';',)
print(train01.shape)
train01.head()

(91946, 44)

,id,y,x1,x2,x3,x4,x5,x6,x7,x8,...,x33,x34,x35,x36,x37,x38,x39,x40,x41,x42
0,-9196902500682081904,0,-2201458060675810556,01.09.2008,6312572492787112517,182,-6.347413e+18,2066976859146697559,0,[4770.1499999999996 885.49000000000001 1956.36...,...,"[nan, nan, nan, nan, nan, nan]","[3.0, 2.0, 1.0, nan, nan, 1.0]","[67.64, 67.64, 67.64, 67.64, 67.64, 67.64]","[224.79, 224.79, 224.79, 224.79, 224.79, 224.79]","[nan, nan, nan, nan, nan, nan]","[nan, nan, nan, nan, nan, nan]","[80.46, 80.46, 80.46, 80.46, 80.46, 80.46]","[nan, nan, nan, nan, nan, nan]","[nan, nan, nan, nan, nan, nan]","[nan, nan, nan, nan, nan, nan]"
1,-9196902500682081900,0,-2201458060675810556,05.02.2013,4293238556669161936,182,-8.465179e+18,-8648529837587014226,0,[328.93000000000001 3.9700000000000002 996.149...,...,"[nan, nan, nan, nan, nan, nan]","[4.0, nan, nan, 2.0, 3.0, 7.0]","[90.27, 90.27, 90.27, 90.27, 90.27, 90.27]","[249.94, 249.94, 249.94, 249.94, 155.64, 155.64]","[nan, nan, nan, nan, nan, nan]","[nan, nan, nan, nan, nan, nan]","[103.09, 103.09, 103.09, 103.09, 103.09, 103.09]","[nan, nan, nan, nan, nan, nan]","[nan, nan, nan, nan, nan, nan]","[nan, nan, nan, nan, nan, nan]"
2,-9196902500682081899,0,-2201458060675810556,01.09.2008,6312572492787112517,175,5.417474e+18,-5480331477604673780,1,[0.28000000000000003 0.39000000000000001 387.1...,...,"[nan, nan, nan, nan, nan, nan]","[1.0, nan, nan, nan, nan, 2.0]","[67.64, 67.64, 67.64, 67.64, 67.64, 67.64]","[196.61, 224.79, 197.55, 224.79, 224.79, 224.79]","[nan, nan, nan, nan, nan, nan]","[nan, nan, nan, nan, nan, nan]","[80.46, 80.46, 80.46, 80.46, 80.46, 80.46]","[nan, nan, nan, nan, nan, nan]","[nan, nan, nan, nan, nan, nan]","[nan, nan, nan, nan, nan, nan]"
3,-9196902500682081897,0,-2201458060675810556,01.09.2008,6312572492787112517,182,-6.347413e+18,-3150357754345161454,0,[146.28999999999999 688.25999999999999 1025.88...,...,"[nan, nan, nan, nan, nan, nan]","[nan, nan, nan, 1.0, 2.0, 1.0]","[67.64, 67.64, 67.64, 67.64, 67.64, 67.64]","[199.65, 199.65, 199.65, 199.65, 199.65, 199.65]","[nan, nan, nan, nan, nan, nan]","[nan, nan, nan, nan, nan, nan]","[80.46, 80.46, 80.46, 80.46, 80.46, 80.46]","[nan, nan, nan, nan, nan, nan]","[nan, nan, nan, nan, nan, nan]","[nan, nan, nan, nan, nan, nan]"
4,-9196902500681081897,0,-2201458060675810556,01.09.2008,6312572492787112517,179,6.856367e+18,4900304581511328621,2,[nan nan nan nan nan nan nan nan nan nan nan n...,...,"[nan, nan, nan, nan, nan, nan]","[3.0, nan, 2.0, nan, 1.0, 5.0]","[67.64, 67.64, 67.64, 67.64, 67.64, 67.64]","[224.79, 224.79, 224.79, 224.79, 224.79, 224.79]","[nan, nan, nan, nan, nan, nan]","[nan, nan, nan, nan, nan, nan]","[80.46, 80.46, 80.46, 80.46, 80.46, 80.46]","[nan, nan, nan, nan, nan, nan]","[nan, nan, nan, nan, nan, nan]","[nan, nan, nan, nan, nan, nan]"

In [7]:
# for col in train01.columns:
#     print(f"{col}: {train01[col].unique().shape}")

In [4]:
train02 = pd.read_csv("train01.csv", sep=';',)
print(train01.shape)
train02.head()

(91946, 44)

,id,y,x1,x2,x3,x4,x5,x6,x7,x8,...,x33,x34,x35,x36,x37,x38,x39,x40,x41,x42
0,-9196902500682081904,0,-2201458060675810556,01.09.2008,6312572492787112517,182,-6.347413e+18,2066976859146697559,0,[4770.1499999999996 885.49000000000001 1956.36...,...,"[nan, nan, nan, nan, nan, nan]","[3.0, 2.0, 1.0, nan, nan, 1.0]","[67.64, 67.64, 67.64, 67.64, 67.64, 67.64]","[224.79, 224.79, 224.79, 224.79, 224.79, 224.79]","[nan, nan, nan, nan, nan, nan]","[nan, nan, nan, nan, nan, nan]","[80.46, 80.46, 80.46, 80.46, 80.46, 80.46]","[nan, nan, nan, nan, nan, nan]","[nan, nan, nan, nan, nan, nan]","[nan, nan, nan, nan, nan, nan]"
1,-9196902500682081900,0,-2201458060675810556,05.02.2013,4293238556669161936,182,-8.465179e+18,-8648529837587014226,0,[328.93000000000001 3.9700000000000002 996.149...,...,"[nan, nan, nan, nan, nan, nan]","[4.0, nan, nan, 2.0, 3.0, 7.0]","[90.27, 90.27, 90.27, 90.27, 90.27, 90.27]","[249.94, 249.94, 249.94, 249.94, 155.64, 155.64]","[nan, nan, nan, nan, nan, nan]","[nan, nan, nan, nan, nan, nan]","[103.09, 103.09, 103.09, 103.09, 103.09, 103.09]","[nan, nan, nan, nan, nan, nan]","[nan, nan, nan, nan, nan, nan]","[nan, nan, nan, nan, nan, nan]"
2,-9196902500682081899,0,-2201458060675810556,01.09.2008,6312572492787112517,175,5.417474e+18,-5480331477604673780,1,[0.28000000000000003 0.39000000000000001 387.1...,...,"[nan, nan, nan, nan, nan, nan]","[1.0, nan, nan, nan, nan, 2.0]","[67.64, 67.64, 67.64, 67.64, 67.64, 67.64]","[196.61, 224.79, 197.55, 224.79, 224.79, 224.79]","[nan, nan, nan, nan, nan, nan]","[nan, nan, nan, nan, nan, nan]","[80.46, 80.46, 80.46, 80.46, 80.46, 80.46]","[nan, nan, nan, nan, nan, nan]","[nan, nan, nan, nan, nan, nan]","[nan, nan, nan, nan, nan, nan]"
3,-9196902500682081897,0,-2201458060675810556,01.09.2008,6312572492787112517,182,-6.347413e+18,-3150357754345161454,0,[146.28999999999999 688.25999999999999 1025.88...,...,"[nan, nan, nan, nan, nan, nan]","[nan, nan, nan, 1.0, 2.0, 1.0]","[67.64, 67.64, 67.64, 67.64, 67.64, 67.64]","[199.65, 199.65, 199.65, 199.65, 199.65, 199.65]","[nan, nan, nan, nan, nan, nan]","[nan, nan, nan, nan, nan, nan]","[80.46, 80.46, 80.46, 80.46, 80.46, 80.46]","[nan, nan, nan, nan, nan, nan]","[nan, nan, nan, nan, nan, nan]","[nan, nan, nan, nan, nan, nan]"
4,-9196902500681081897,0,-2201458060675810556,01.09.2008,6312572492787112517,179,6.856367e+18,4900304581511328621,2,[nan nan nan nan nan nan nan nan nan nan nan n...,...,"[nan, nan, nan, nan, nan, nan]","[3.0, nan, 2.0, nan, 1.0, 5.0]","[67.64, 67.64, 67.64, 67.64, 67.64, 67.64]","[224.79, 224.79, 224.79, 224.79, 224.79, 224.79]","[nan, nan, nan, nan, nan, nan]","[nan, nan, nan, nan, nan, nan]","[80.46, 80.46, 80.46, 80.46, 80.46, 80.46]","[nan, nan, nan, nan, nan, nan]","[nan, nan, nan, nan, nan, nan]","[nan, nan, nan, nan, nan, nan]"

In [5]:
len(set(train01.id) & set(train02.id)) # проверим, что в обеих выборках одни и те же клиенты

91946

In [29]:
# объединим датасеты, чтобы удобнее было вносить изменения

train01['part'] = 'train'
train02['part'] = 'val'
new_df = pd.concat([train01, train02]).reset_index(drop=True)

In [30]:
# удалим признаки, имеющие высокий процент nan

nans = '[nan, nan, nan, nan, nan, nan]'
xi = []

for i in range(10, 43):
    ratio = new_df[f"x{i}"][new_df[f"x{i}"] == nans].shape[0] / new_df[f"x{i}"].shape[0]
    pair = (i, ratio)
    xi.append(pair)

In [31]:
xi

[(10, 0.9369086202771192),
 (11, 0.6811171774737346),
 (12, 0.4733539251299676),
 (13, 0.07515280708241794),
 (14, 0.07515280708241794),
 (15, 0.07515280708241794),
 (16, 0.07515280708241794),
 (17, 0.07515280708241794),
 (18, 0.0781436930372175),
 (19, 0.0781436930372175),
 (20, 0.0781436930372175),
 (21, 0.07515280708241794),
 (22, 0.07515280708241794),
 (23, 0.9426946251060405),
 (24, 0.9426946251060405),
 (25, 0.9426946251060405),
 (26, 0.07515280708241794),
 (27, 0.48333804624453486),
 (28, 0.19559306549496444),
 (29, 0.9087725404041502),
 (30, 0.7356274334935723),
 (31, 0.9424227263828769),
 (32, 0.7356274334935723),
 (33, 0.9424227263828769),
 (34, 0.0428186109238031),
 (35, 0.13243643007852435),
 (36, 0.001435625258303787),
 (37, 0.7831335784047158),
 (38, 0.49241946359819894),
 (39, 0.13243643007852435),
 (40, 0.9312748787331695),
 (41, 0.9535596980836578),
 (42, 0.9315250255584799)]

In [32]:
xi_to_del = []

for (i, ratio) in xi:
    if ratio >= 0.7:
        ind = f"x{i}"
        xi_to_del.append(ind)

In [33]:
xi_to_del

['x10',
 'x23',
 'x24',
 'x25',
 'x29',
 'x30',
 'x31',
 'x32',
 'x33',
 'x37',
 'x40',
 'x41',
 'x42']

In [34]:
new_df = new_df.drop(columns=xi_to_del)

In [35]:
new_df.head()

,id,y,x1,x2,x3,x4,x5,x6,x7,x8,...,x22,x26,x27,x28,x34,x35,x36,x38,x39,part
0,-9196902500682081904,0,-2201458060675810556,01.09.2008,6312572492787112517,182,-6.347413e+18,2066976859146697559,0,[4770.1499999999996 885.49000000000001 1956.36...,...,"[nan, 0.0, nan, nan, 0.0, 0.0]","[nan, 0.0, nan, nan, 0.0, 0.0]","[nan, 2.0, nan, nan, 1.0, 2.0]","[nan, nan, nan, nan, 1.0, 4.0]","[3.0, 2.0, 1.0, nan, nan, 1.0]","[67.64, 67.64, 67.64, 67.64, 67.64, 67.64]","[224.79, 224.79, 224.79, 224.79, 224.79, 224.79]","[nan, nan, nan, nan, nan, nan]","[80.46, 80.46, 80.46, 80.46, 80.46, 80.46]",train
1,-9196902500682081900,0,-2201458060675810556,05.02.2013,4293238556669161936,182,-8.465179e+18,-8648529837587014226,0,[328.93000000000001 3.9700000000000002 996.149...,...,"[nan, nan, 0.0, 0.0, nan, 0.0]","[nan, nan, 0.0, 0.0, nan, 0.0]","[nan, nan, 1.0, nan, nan, nan]","[nan, nan, 2.0, nan, nan, 2.0]","[4.0, nan, nan, 2.0, 3.0, 7.0]","[90.27, 90.27, 90.27, 90.27, 90.27, 90.27]","[249.94, 249.94, 249.94, 249.94, 155.64, 155.64]","[nan, nan, nan, nan, nan, nan]","[103.09, 103.09, 103.09, 103.09, 103.09, 103.09]",train
2,-9196902500682081899,0,-2201458060675810556,01.09.2008,6312572492787112517,175,5.417474e+18,-5480331477604673780,1,[0.28000000000000003 0.39000000000000001 387.1...,...,"[nan, 0.0, nan, nan, nan, nan]","[nan, 0.0, nan, nan, nan, nan]","[nan, nan, nan, nan, nan, nan]","[nan, 2.0, nan, nan, nan, nan]","[1.0, nan, nan, nan, nan, 2.0]","[67.64, 67.64, 67.64, 67.64, 67.64, 67.64]","[196.61, 224.79, 197.55, 224.79, 224.79, 224.79]","[nan, nan, nan, nan, nan, nan]","[80.46, 80.46, 80.46, 80.46, 80.46, 80.46]",train
3,-9196902500682081897,0,-2201458060675810556,01.09.2008,6312572492787112517,182,-6.347413e+18,-3150357754345161454,0,[146.28999999999999 688.25999999999999 1025.88...,...,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[nan, nan, nan, nan, nan, nan]","[1.0, 1.0, nan, 1.0, nan, nan]","[nan, nan, nan, 1.0, 2.0, 1.0]","[67.64, 67.64, 67.64, 67.64, 67.64, 67.64]","[199.65, 199.65, 199.65, 199.65, 199.65, 199.65]","[nan, nan, nan, nan, nan, nan]","[80.46, 80.46, 80.46, 80.46, 80.46, 80.46]",train
4,-9196902500681081897,0,-2201458060675810556,01.09.2008,6312572492787112517,179,6.856367e+18,4900304581511328621,2,[nan nan nan nan nan nan nan nan nan nan nan n...,...,"[nan, 0.0, nan, 0.0, nan, nan]","[nan, 0.0, nan, 0.0, nan, nan]","[nan, nan, nan, nan, nan, nan]","[nan, nan, nan, nan, nan, nan]","[3.0, nan, 2.0, nan, 1.0, 5.0]","[67.64, 67.64, 67.64, 67.64, 67.64, 67.64]","[224.79, 224.79, 224.79, 224.79, 224.79, 224.79]","[nan, nan, nan, nan, nan, nan]","[80.46, 80.46, 80.46, 80.46, 80.46, 80.46]",train

In [36]:
# конвертируем временные ряды для 6 месяцев в отдельные признаки по каждому месяцу

In [37]:
series_lst = new_df.columns.tolist()[11:-1]

In [38]:
series_lst

['x11',
 'x12',
 'x13',
 'x14',
 'x15',
 'x16',
 'x17',
 'x18',
 'x19',
 'x20',
 'x21',
 'x22',
 'x26',
 'x27',
 'x28',
 'x34',
 'x35',
 'x36',
 'x38',
 'x39']

In [39]:
for col in tqdm(series_lst):
    
    values = np.array([list(map(float, i[1:-1].split(','))) for i in new_df[col]])
    values[np.isnan(values)] = 0. #nan -> 0.
    
    col_names = [f"{col}_{i}" for i in range(1, 7)]
    new_df[col_names] = values
    new_df.drop(col, axis=1, inplace=True)

100%|██████████| 20/20 [00:21<00:00,  1.09s/it]

In [40]:
new_df.head()

,id,y,x1,x2,x3,x4,x5,x6,x7,x8,...,x38_3,x38_4,x38_5,x38_6,x39_1,x39_2,x39_3,x39_4,x39_5,x39_6
0,-9196902500682081904,0,-2201458060675810556,01.09.2008,6312572492787112517,182,-6.347413e+18,2066976859146697559,0,[4770.1499999999996 885.49000000000001 1956.36...,...,0.0,0.0,0.0,0.0,80.46,80.46,80.46,80.46,80.46,80.46
1,-9196902500682081900,0,-2201458060675810556,05.02.2013,4293238556669161936,182,-8.465179e+18,-8648529837587014226,0,[328.93000000000001 3.9700000000000002 996.149...,...,0.0,0.0,0.0,0.0,103.09,103.09,103.09,103.09,103.09,103.09
2,-9196902500682081899,0,-2201458060675810556,01.09.2008,6312572492787112517,175,5.417474e+18,-5480331477604673780,1,[0.28000000000000003 0.39000000000000001 387.1...,...,0.0,0.0,0.0,0.0,80.46,80.46,80.46,80.46,80.46,80.46
3,-9196902500682081897,0,-2201458060675810556,01.09.2008,6312572492787112517,182,-6.347413e+18,-3150357754345161454,0,[146.28999999999999 688.25999999999999 1025.88...,...,0.0,0.0,0.0,0.0,80.46,80.46,80.46,80.46,80.46,80.46
4,-9196902500681081897,0,-2201458060675810556,01.09.2008,6312572492787112517,179,6.856367e+18,4900304581511328621,2,[nan nan nan nan nan nan nan nan nan nan nan n...,...,0.0,0.0,0.0,0.0,80.46,80.46,80.46,80.46,80.46,80.46

In [41]:
###

In [42]:
# for col in new_df.columns:
#     print(f"{col}: {new_df[col].unique().shape}")

In [43]:
# конвертируем дату в месяц и день

In [44]:
ddmmyy = np.array([[np.nan, np.nan, np.nan] if type(d) is float else d.split('.') for d in new_df.x2])

In [45]:
dd, mm, yy = ddmmyy[:,0], ddmmyy[:,1], ddmmyy[:,2]

In [46]:
for (it, name) in [(dd, 'dd'), (mm, 'mm'), (yy, 'yy')]:
    new_df[f"{name}"]= it

In [47]:
new_df = new_df.drop(columns=['x2'])

In [48]:
new_df.head()

,id,y,x1,x3,x4,x5,x6,x7,x8,x9,...,x38_6,x39_1,x39_2,x39_3,x39_4,x39_5,x39_6,dd,mm,yy
0,-9196902500682081904,0,-2201458060675810556,6312572492787112517,182,-6.347413e+18,2066976859146697559,0,[4770.1499999999996 885.49000000000001 1956.36...,[4770.1499999999996 885.49000000000001 1956.36...,...,0.0,80.46,80.46,80.46,80.46,80.46,80.46,01,09,2008
1,-9196902500682081900,0,-2201458060675810556,4293238556669161936,182,-8.465179e+18,-8648529837587014226,0,[328.93000000000001 3.9700000000000002 996.149...,[328.93000000000001 3.9700000000000002 996.149...,...,0.0,103.09,103.09,103.09,103.09,103.09,103.09,05,02,2013
2,-9196902500682081899,0,-2201458060675810556,6312572492787112517,175,5.417474e+18,-5480331477604673780,1,[0.28000000000000003 0.39000000000000001 387.1...,[0.28000000000000003 0.39000000000000001 387.1...,...,0.0,80.46,80.46,80.46,80.46,80.46,80.46,01,09,2008
3,-9196902500682081897,0,-2201458060675810556,6312572492787112517,182,-6.347413e+18,-3150357754345161454,0,[146.28999999999999 688.25999999999999 1025.88...,[146.28999999999999 688.25999999999999 1025.88...,...,0.0,80.46,80.46,80.46,80.46,80.46,80.46,01,09,2008
4,-9196902500681081897,0,-2201458060675810556,6312572492787112517,179,6.856367e+18,4900304581511328621,2,[nan nan nan nan nan nan nan nan nan nan nan n...,[nan nan nan nan nan nan nan nan nan nan nan n...,...,0.0,80.46,80.46,80.46,80.46,80.46,80.46,01,09,2008

In [50]:
### конвертируем x8 и x9 в из строчек в список

In [51]:
for i, row in enumerate(new_df.x8):
    row.x8 = row.x8[1:-1].split(',')

AttributeError: 'str' object has no attribute 'x8'

In [54]:
for row in new_df.x8:
    print(row)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [53]:
new_df

,id,y,x1,x3,x4,x5,x6,x7,x8,x9,...,x38_6,x39_1,x39_2,x39_3,x39_4,x39_5,x39_6,dd,mm,yy
0,-9196902500682081904,0,-2201458060675810556,6312572492787112517,182,-6.347413e+18,2066976859146697559,0,[4770.1499999999996 885.49000000000001 1956.36...,[4770.1499999999996 885.49000000000001 1956.36...,...,0.0,80.46,80.46,80.46,80.46,80.46,80.46,01,09,2008
1,-9196902500682081900,0,-2201458060675810556,4293238556669161936,182,-8.465179e+18,-8648529837587014226,0,[328.93000000000001 3.9700000000000002 996.149...,[328.93000000000001 3.9700000000000002 996.149...,...,0.0,103.09,103.09,103.09,103.09,103.09,103.09,05,02,2013
2,-9196902500682081899,0,-2201458060675810556,6312572492787112517,175,5.417474e+18,-5480331477604673780,1,[0.28000000000000003 0.39000000000000001 387.1...,[0.28000000000000003 0.39000000000000001 387.1...,...,0.0,80.46,80.46,80.46,80.46,80.46,80.46,01,09,2008
3,-9196902500682081897,0,-2201458060675810556,6312572492787112517,182,-6.347413e+18,-3150357754345161454,0,[146.28999999999999 688.25999999999999 1025.88...,[146.28999999999999 688.25999999999999 1025.88...,...,0.0,80.46,80.46,80.46,80.46,80.46,80.46,01,09,2008
4,-9196902500681081897,0,-2201458060675810556,6312572492787112517,179,6.856367e+18,4900304581511328621,2,[nan nan nan nan nan nan nan nan nan nan nan n...,[nan nan nan nan nan nan nan nan nan nan nan n...,...,0.0,80.46,80.46,80.46,80.46,80.46,80.46,01,09,2008
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183887,9162040885607725763,0,971936669646667718,6312572492787112517,182,NaN,4374649186009724565,0,[nan nan nan nan nan nan nan nan nan nan nan n...,[nan nan nan nan nan nan nan nan nan nan nan n...,...,0.0,80.46,80.46,80.46,80.46,80.46,80.46,21,12,2011
183888,9162040885607725766,0,971936669646667718,6312572492787112517,182,NaN,9080325055303033706,0,[842.73000000000002 71.890000000000001 8125.02...,[842.73000000000002 71.890000000000001 8125.02...,...,0.0,80.46,80.46,80.46,80.46,80.46,80.46,21,12,2011
183889,9162040885608725764,0,-4849479253074186081,6312572492787112517,165,7.599054e+18,2066976859146697559,1,[2470.8699999999999 2087.8200000000002 233.550...,[2470.8699999999999 2087.8200000000002 233.550...,...,0.0,0.00,0.00,0.00,0.00,0.00,0.00,21,12,2011
183890,9162040885608725770,0,-4849479253074186081,6312572492787112517,182,7.599054e+18,2066976859146697559,0,[216.31999999999999 10.279999999999999 38.3500...,[216.31999999999999 10.279999999999999 38.3500...,...,0.0,80.46,80.46,80.46,80.46,80.46,80.46,02,12,2013
183891,9162040885609725775,0,-710453989236047181,6312572492787112517,182,-6.347413e+18,1858809495765967867,0,[7.3799999999999999 0.29999999999999999 12.789...,[7.3799999999999999 0.29999999999999999 12.789...,...,0.0,80.46,80.46,80.46,80.46,80.46,80.46,24,09,2013

In [122]:
###

In [17]:
cbc = CatBoostClassifier()

In [34]:
cbc.fit(train01.drop(columns=['y']), train01.y, text_features=names)

CatBoostError: Invalid type for text_feature[non-default value idx=1748,feature_idx=2]=nan : text_features must have string type